* {
    margin: 0;
    padding: 0;
}

body {
}

div.menu {
    padding: .4px 0px 4px 0px;
}

    div.menu ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
        width: auto;
    }

        div.menu ul li ul li {
            display: block;
            width: 250px;
        }

        div.menu ul li a, div.menu ul li a:visited {
            background-color: #333;
            border: 1px #333 solid;
            color: #dde4ec;
            display: block;
            line-height: 1.35em;
            padding: 4px 20px;
            text-decoration: none;
            white-space: nowrap;
        }

        div.menu ul li {
            margin: 0 0 0px;
        }

            div.menu ul li a:hover {
                background-color: #bfcbd6;
                background-color: #111;
                text-decoration: none;
            }

            div.menu ul li a:active {
                background-color: #465c71;
                color: #cfdbe6;
                text-decoration: none;
            }

div.nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}


.header_title {
    max-height: 100px;
    width: 100%
}

header {
    max-height: 5%;
    min-height: 5%;
    margin-bottom: -4px;
}
.footer_copyright {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    max-height: 100px;
    width: 100%
}


footer {
    max-height: 5%;
    min-height: 5%;
}
